In [1]:
import pandas as pd 

df = pd.read_csv('asteroides_nasa_complet2.csv')
df.head()

C:\Users\mehdi\AppData\Local\Temp\ipykernel_19748\882820305.py:3: DtypeWarning: Columns (1,2,4,5,17,18,27,28,29,38,39,40,49,50,51,60,61,62,71,72,73,82,83,84,93,94,95,104,105,106,115,116,117,126,127,128,137,138,139,148,149,150,159,160,161,170,171,172,181,182,183,192,193,194,203,204,205,214,215,216,225,226,227,236,237,238,247,248,249,258,259,260,269,270,271,280,281,282,291,292,293,302,303,304,313,314,315,324,325,326,335,336,337,346,347,348,357,358,359,368,369,370,379,380,381,390,391,417,418,427,428,429,438,439,440,449,450,451,460,461,462,471,472,473,482,483,484,493,494,495,504,505,506,515,516,517,526,527,528,537,538,539,548,549,550,559,560,561,570,571,572,581,582,583,592,593,594,603,604,605,614,615,616,625,626,627,636,637,638,647,648,649,658,659,660,669,670,671,680,681,682,691,692,693,702,703,704,713,714,715,724,725,726,735,736,737,746,747,748,757,758,759,768,769,770,779,780,781,790,791,792,801,802,803,812,813,814,823,824,825,834,835,836,845,846,847,856,857,858,867,868,869,878,879,880,889,890,891,900,901,902,911,912,913,922,923,924,933,934,935,944,945,946,955,956,957,966,967,968,977,978,979,988,989,990,999,1000,1001,1010,1011,1012,1021,1022,1023,1032,1033,1034,1043,1044,1045,1054,1055,1056,1065,1066,1067,1076,1077,1078,1087,1088,1089,1098,1099,1100,1109,1110,1111,1120,1121,1122,1131,1132,1133,1142,1143,1144,1153,1154,1155,1164,1165,1166,1175,1176,1177,1186,1187,1188,1197,1198,1199,1208,1209,1210,1219,1220,1221,1230,1231,1232,1241,1242,1243,1252,1253,1254,1263,1264,1265,1274,1275,1276,1285,1286,1287,1296,1297,1298,1307,1308,1309,1318,1319,1320,1329,1330,1331,1340,1341,1342,1351,1352,1353,1362,1363,1364,1373,1374,1375,1384,1385,1386,1395,1396,1397,1406,1407,1408,1417,1418,1419,1428,1429,1430,1439,1440,1441,1450,1451,1452,1461,1462,1463,1472,1473,1474,1483,1484,1485,1494,1495,1496,1505,1506,1507,1516,1517,1518,1527,1528,1529,1538,1539,1540,1549,1550,1551,1560,1561,1562,1571,1572,1573,1582,1583,1584,1593,1594,1595,1604,1605,1606,1615,1616,1617,1626,1627,1628,1637,1638,1639,1648,1649,1650,1659,1660,1661,1670,1671,1672,1681,1682,1683,1692,1693,1694,1703,1704,1705,1714,1715,1716,1725,1726,1727,1736,1737,1738,1747,1748,1749,1758,1759,1760,1769,1770,1771,1780,1781,1782,1791,1792,1793,1802,1803,1804,1813,1814,1815,1824,1825,1826,1835,1836,1837,1846,1847,1848,1857,1858,1859,1868,1869,1870,1879,1880,1881,1890,1891,1892,1901,1902,1903,1912,1913,1914,1923,1924,1925,1934,1935,1936,1945,1946,1947,1956,1957,1958,1967,1968,1969,1978,1979,1980,1989,1990,1991,2000,2001,2002,2011,2012,2013,2022,2023,2024,2033,2034,2035,2044,2045,2046,2055,2056,2057,2066,2067,2068,2077,2078,2079,2088,2089,2090,2099,2100,2101,2110,2111,2112,2121,2122,2123,2132,2133,2134,2143,2144,2145,2154,2155,2156,2165,2166,2167,2176,2177,2178,2187,2188,2189,2198,2199,2200,2209,2210,2211,2220,2221,2222,2231,2232,2233,2242,2243,2244,2253,2254,2255,2264,2265,2266,2275,2276,2277,2286,2287,2288,2297,2298,2299,2308,2309,2310,2319,2320,2321,2330,2331,2332,2341,2342,2343,2352,2353,2354,2363,2364,2365,2374,2375,2376,2385,2386,2387,2396,2397,2398,2407,2408,2409,2418,2419,2420,2429,2430,2431,2440,2441,2442,2451,2452,2453,2462,2463,2464,2473,2474,2475,2484,2485,2486,2495,2496,2497,2506,2507,2508,2517,2518,2519,2528,2529,2530,2539,2540,2541,2550,2551,2552,2561,2562,2563,2572,2573,2574,2583,2584,2585,2594,2595,2596,2605,2606,2607,2616,2617,2618,2627,2628,2629,2638,2639,2640,2649,2650,2651,2660,2661,2662,2671,2672,2673,2682,2683,2684,2693,2694,2695,2704,2705,2706,2715,2716,2717,2726,2727,2728,2737,2738,2739,2748,2749,2750,2759,2760,2761,2770,2771,2772,2781,2782,2783,2792,2793,2794,2803,2804,2805,2814,2815,2816,2825,2826,2827,2836,2837,2838,2847,2848,2849,2858,2859,2860,2869,2870,2871,2880,2881,2882,2891,2892,2893,2902,2903,2904,2913,2914,2915,2924,2925,2926,2935,2936,2937,2946,2947,2948,2957,2958,2959,2968,2969,2970,2971,2980,2981,2982,2991,2992,2993,3002,3003,3004,3013,3014,3015,3024,3025,3026,3035,3036,3037,3046,3047,3048,3057,3058,3059,3068,3069,3070,3079,3080,3081,3090,3091,3092,3101,3102,3103,3112,3113,3114,3123,3124,3125,3134,3135,3136,3145,3146,3147,3156,3157,3158,3167,3168,3169,3178,3179,3180,3189,3190,3191,3200,3201,3202,3211,3212,3213,3222,3223,3224,3233,3234,3235,3244,3245,3246,3255,3256,3257,3266,3267,3268,3277,3278,3279,3288,3289,3290,3299,3300,3301,3310,3311,3312,3321,3322,3323,3332,3333,3334,3343,3344,3345,3354,3355,3356,3365,3366,3367,3376,3377,3378,3387,3388,3389,3398,3399,3400,3409,3410,3411,3420,3421,3422,3431,3432,3433,3442,3443,3444,3453,3454,3455,3464,3465,3466,3475,3476,3477,3486,3487,3488,3497,3498,3499,3508,3509,3510,3519,3520,3521,3530,3531,3532,3541,3542,3543,3552,3553,3554,3563,3564,3565,3574,3575,3576,3585,3586,3587,3596,3597,3598,3607,3608,3609,3618,3619,3620,3629,3630,3631,3640,3641,3642,3651,3652,3653,3662,3663,3664,3673,3674,3675,3684,3685,3686,3695,3696,3697,3706,3707,3708,3717,3718,3719,3728,3729,3730,3739,3740,3741,3750,3751,3752,3761,3762,3763,3772,3773,3774,3783,3784,3785,3794,3795,3796,3805,3806,3807,3816,3817,3818,3827,3828,3829,3838,3839,3840,3849,3850,3851,3860,3861,3862,3871,3872,3873,3882,3883,3884,3893,3894,3895,3904,3905,3906,3915,3916,3917,3926,3927,3928,3937,3938,3939,3948,3949,3950,3959,3960,3961,3970,3971,3972,3981,3982,3983,3992,3993,3994,4003,4004,4005,4014,4015,4016,4025,4026,4027,4036,4037,4038,4047,4048,4049,4058,4059,4060,4069,4070,4071,4080,4081,4082,4091,4092,4093,4102,4103,4104,4113,4114,4115,4124,4125,4126,4135,4136,4137,4146,4147,4148,4157,4158,4159,4168,4169,4170,4179,4180,4181,4190,4191,4192,4201,4202,4203,4212,4213,4214,4223,4224,4225,4234,4235,4236,4245,4246,4247,4256,4257,4258,4267,4268,4269,4278,4279,4280,4289,4290,4291,4300,4301,4302,4311,4312,4313,4322,4323,4324,4333,4334,4335,4344,4345,4346,4355,4356,4357,4366,4367,4368,4377,4378,4379,4388,4389,4390,4399,4400,4401,4410,4411,4412,4421,4422,4423,4432,4433,4434,4443,4444,4445,4454,4455,4456,4465,4466,4467,4476,4477,4478,4487,4488,4489,4498,4499,4500,4509,4510,4511,4520,4521,4522,4531,4532,4533,4542,4543,4544,4553,4554,4555,4564,4565,4566,4575,4576,4577,4586,4587,4588,4597,4598,4599,4608,4609,4610,4619,4620,4621,4630,4631,4632,4641,4642,4643,4652,4653,4654,4663,4664,4665,4674,4675,4676,4685,4686,4687,4696,4697,4698,4707,4708,4709,4718,4719,4720,4729,4730,4731,4740,4741,4742,4751,4752,4753,4762,4763,4764,4773,4774,4775,4784,4785,4786,4795,4796,4797,4806,4807,4808,4817,4818,4819,4828,4829,4830,4839,4840,4841,4850,4851,4852,4861,4862,4863,4872,4873,4874,4883,4884,4885,4894,4895,4896,4905,4906,4907,4916,4917,4918,4927,4928,4929,4938,4939,4940,4949,4950,4951,4960,4961,4962,4971,4972,4973,4982,4983,4984,4993,4994,4995,5004,5005,5006,5015,5016,5017,5026,5027,5028,5037,5038,5039,5048,5049,5050,5059,5060,5061,5070,5071,5072,5081,5082,5083,5092,5093,5094,5103,5104,5105,5114,5115,5116,5125,5126,5127,5136,5137,5138,5147,5148,5149,5158,5159,5160,5169,5170,5171,5180,5181,5182,5191,5192,5193,5202,5203,5204,5213,5214,5215,5224,5225,5226,5235,5236,5237,5246,5247,5248,5257,5258,5259,5268,5269,5270,5279,5280,5281,5290,5291,5292,5301,5302,5303,5312,5313,5314,5323,5324,5325,5334,5335,5336,5345,5346,5347,5356,5357,5358,5367,5368,5369,5378,5379,5380,5389,5390,5391,5400,5401,5402,5411,5412,5413,5422,5423,5424,5433,5434,5435,5444,5445,5446,5455,5456,5457,5466,5467,5468,5477,5478,5479,5488,5489,5490,5499,5500,5501,5510,5511,5512,5521,5522,5523,5532,5533,5534,5543,5544,5545,5554,5555,5556,5565,5566,5567,5576,5577,5578,5587,5588,5589,5598,5599,5600,5609,5610,5611,5620,5621,5622,5631,5632,5633,5642,5643,5644,5653,5654,5655,5664,5665,5666,5675,5676,5677,5686,5687,5688,5697,5698,5699,5708,5709,5710,5719,5720,5721,5730) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('asteroides_nasa_complet2.csv')

,links.self,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,estimated_diameter.kilometers.estimated_diameter_min,estimated_diameter.kilometers.estimated_diameter_max,...,close_approach_data.516.close_approach_date_full,close_approach_data.516.epoch_date_close_approach,close_approach_data.516.relative_velocity.kilometers_per_second,close_approach_data.516.relative_velocity.kilometers_per_hour,close_approach_data.516.relative_velocity.miles_per_hour,close_approach_data.516.miss_distance.astronomical,close_approach_data.516.miss_distance.lunar,close_approach_data.516.miss_distance.kilometers,close_approach_data.516.miss_distance.miles,close_approach_data.516.orbiting_body
0,http://api.nasa.gov/neo/rest/v1/neo/2000433?ap...,2000433,2000433,433 Eros (A898 PA),Eros,433,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,10.38,22.312846,49.893041,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://api.nasa.gov/neo/rest/v1/neo/2000719?ap...,2000719,2000719,719 Albert (A911 TB),Albert,719,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,15.59,2.025606,4.529393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://api.nasa.gov/neo/rest/v1/neo/2000887?ap...,2000887,2000887,887 Alinda (A918 AA),Alinda,887,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,13.81,4.597852,10.281109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://api.nasa.gov/neo/rest/v1/neo/2001036?ap...,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,9.18,38.775283,86.704169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://api.nasa.gov/neo/rest/v1/neo/2001221?ap...,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,17.37,0.892391,1.995446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41560 entries, 0 to 41559
Columns: 5731 entries, links.self to close_approach_data.516.orbiting_body
dtypes: bool(2), float64(4162), object(1567)
memory usage: 1.8+ GB

In [3]:
df.shape

(41560, 5731)

In [4]:
df.describe()

,absolute_magnitude_h,estimated_diameter.kilometers.estimated_diameter_min,estimated_diameter.kilometers.estimated_diameter_max,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,estimated_diameter.miles.estimated_diameter_min,estimated_diameter.miles.estimated_diameter_max,estimated_diameter.feet.estimated_diameter_min,estimated_diameter.feet.estimated_diameter_max,close_approach_data.0.epoch_date_close_approach,...,close_approach_data.515.miss_distance.kilometers,close_approach_data.515.miss_distance.miles,close_approach_data.516.epoch_date_close_approach,close_approach_data.516.relative_velocity.kilometers_per_second,close_approach_data.516.relative_velocity.kilometers_per_hour,close_approach_data.516.relative_velocity.miles_per_hour,close_approach_data.516.miss_distance.astronomical,close_approach_data.516.miss_distance.lunar,close_approach_data.516.miss_distance.kilometers,close_approach_data.516.miss_distance.miles
count,41547.000000,41547.000000,41547.000000,41547.000000,41547.000000,41547.000000,41547.000000,41547.000000,41547.000000,2.518900e+04,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00
mean,23.893464,0.132265,0.295754,132.265233,295.754052,0.082186,0.183773,433.941067,970.321723,-1.367156e+10,...,1.146947e+07,7.126800e+06,7.260721e+12,2.874781,10349.210796,6430.597119,0.086403,33.610669,1.292567e+07,8.031637e+06
std,5.684078,0.446053,0.997406,446.053324,997.405554,0.277165,0.619759,1463.429587,3272.328037,1.587853e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,8.270000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.209084e+12,...,1.146947e+07,7.126800e+06,7.260721e+12,2.874781,10349.210796,6430.597119,0.086403,33.610669,1.292567e+07,8.031637e+06
25%,21.430000,0.019167,0.042859,19.167037,42.858797,0.011910,0.026631,62.883981,140.612856,-1.751089e+12,...,1.146947e+07,7.126800e+06,7.260721e+12,2.874781,10349.210796,6430.597119,0.086403,33.610669,1.292567e+07,8.031637e+06
50%,23.910000,0.043909,0.098184,43.909145,98.183832,0.027284,0.061009,144.058878,322.125444,1.820830e+11,...,1.146947e+07,7.126800e+06,7.260721e+12,2.874781,10349.210796,6430.597119,0.086403,33.610669,1.292567e+07,8.031637e+06
75%,25.710000,0.137580,0.307638,137.579896,307.638000,0.085488,0.191157,451.377626,1009.311055,1.590484e+12,...,1.146947e+07,7.126800e+06,7.260721e+12,2.874781,10349.210796,6430.597119,0.086403,33.610669,1.292567e+07,8.031637e+06
max,99.990000,58.959661,131.837810,58959.660838,131837.809565,36.635823,81.920192,193437.213665,432538.759132,7.071708e+12,...,1.146947e+07,7.126800e+06,7.260721e+12,2.874781,10349.210796,6430.597119,0.086403,33.610669,1.292567e+07,8.031637e+06

In [5]:
df.columns

Index(['links.self', 'id', 'neo_reference_id', 'name', 'name_limited',
       'designation', 'nasa_jpl_url', 'absolute_magnitude_h',
       'estimated_diameter.kilometers.estimated_diameter_min',
       'estimated_diameter.kilometers.estimated_diameter_max',
       ...
       'close_approach_data.516.close_approach_date_full',
       'close_approach_data.516.epoch_date_close_approach',
       'close_approach_data.516.relative_velocity.kilometers_per_second',
       'close_approach_data.516.relative_velocity.kilometers_per_hour',
       'close_approach_data.516.relative_velocity.miles_per_hour',
       'close_approach_data.516.miss_distance.astronomical',
       'close_approach_data.516.miss_distance.lunar',
       'close_approach_data.516.miss_distance.kilometers',
       'close_approach_data.516.miss_distance.miles',
       'close_approach_data.516.orbiting_body'],
      dtype='object', length=5731)

In [6]:
# Sélection des colonnes essentielles
features_physiques = [
    'id',
    'name',
    'is_potentially_hazardous_asteroid',  # La cible (Target)
    'absolute_magnitude_h',               # Luminosité (très important)
    'estimated_diameter.kilometers.estimated_diameter_min',
    'estimated_diameter.kilometers.estimated_diameter_max'
]

# Sélection des données orbitales du PREMIER passage uniquement (.0.)
features_orbitales = [
    'close_approach_data.0.relative_velocity.kilometers_per_hour',
    'close_approach_data.0.miss_distance.kilometers',
    'close_approach_data.0.miss_distance.astronomical', # Utile pour vérifier
    'orbital_data.minimum_orbit_intersection',          # Le fameux MOID (Critère officiel NASA)
    'orbital_data.eccentricity',                        # Forme de l'orbite
    'orbital_data.inclination'                          # Inclinaison par rapport à la Terre
]

# On combine les deux listes
colonnes_a_garder = features_physiques + features_orbitales

# On crée le DataFrame propre
# L'utilisation de .intersection() évite les erreurs si une colonne manque
cols_existantes = df.columns.intersection(colonnes_a_garder)
df_clean = df[cols_existantes].copy()

# On renomme pour avoir des noms "Data Science friendly" (sans points ni rallonges)
nouveaux_noms = {
    'estimated_diameter.kilometers.estimated_diameter_min': 'diameter_min_km',
    'estimated_diameter.kilometers.estimated_diameter_max': 'diameter_max_km',
    'close_approach_data.0.relative_velocity.kilometers_per_hour': 'velocity_kph',
    'close_approach_data.0.miss_distance.kilometers': 'miss_distance_km',
    'close_approach_data.0.miss_distance.astronomical': 'miss_distance_au',
    'orbital_data.minimum_orbit_intersection': 'moid',
    'orbital_data.eccentricity': 'eccentricity',
    'orbital_data.inclination': 'inclination',
    'is_potentially_hazardous_asteroid': 'is_hazardous'
}

df_clean = df_clean.rename(columns=nouveaux_noms)

# On supprime les quelques lignes qui n'auraient pas de données orbitales (NaN)
df_clean = df_clean.dropna()

print(f"Nouvelle taille du Dataset : {df_clean.shape}")
print(df_clean.head())

Nouvelle taille du Dataset : (25189, 12)
        id                    name  absolute_magnitude_h  diameter_min_km  \
0  2000433      433 Eros (A898 PA)                 10.38        22.312846
1  2000719    719 Albert (A911 TB)                 15.59         2.025606
2  2000887    887 Alinda (A918 AA)                 13.81         4.597852
3  2001036  1036 Ganymed (A924 UB)                  9.18        38.775283
4  2001221    1221 Amor (1932 EA1)                 17.37         0.892391

   diameter_max_km  is_hazardous  velocity_kph  miss_distance_au  \
0        49.893041         False  20083.029075          0.314929
1         4.529393         False  12405.704359          1.708774
2        10.281109         False  25545.505252          0.136779
3        86.704169         False  22693.918951          1.956257
4         1.995446         False  38772.626612          0.183912

   miss_distance_km      moid  eccentricity  inclination
0      4.711273e+07  0.148353      0.222836    10.828467
1      2.556290e+08  0.201318      0.546596    11.573111
2      2.046181e+07  0.079677      0.571170     9.400060
3      2.926518e+08  0.343339      0.533213    26.680736
4      2.751287e+07  0.107969      0.434632    11.868823

In [7]:
df_clean.head()

,id,name,absolute_magnitude_h,diameter_min_km,diameter_max_km,is_hazardous,velocity_kph,miss_distance_au,miss_distance_km,moid,eccentricity,inclination
0,2000433,433 Eros (A898 PA),10.38,22.312846,49.893041,False,20083.029075,0.314929,4.711273e+07,0.148353,0.222836,10.828467
1,2000719,719 Albert (A911 TB),15.59,2.025606,4.529393,False,12405.704359,1.708774,2.556290e+08,0.201318,0.546596,11.573111
2,2000887,887 Alinda (A918 AA),13.81,4.597852,10.281109,False,25545.505252,0.136779,2.046181e+07,0.079677,0.571170,9.400060
3,2001036,1036 Ganymed (A924 UB),9.18,38.775283,86.704169,False,22693.918951,1.956257,2.926518e+08,0.343339,0.533213,26.680736
4,2001221,1221 Amor (1932 EA1),17.37,0.892391,1.995446,False,38772.626612,0.183912,2.751287e+07,0.107969,0.434632,11.868823

In [8]:
ratio_hardous = df_clean['is_hazardous'].mean()
print (f"Proportion d'astéroïdes potentiellement dangereux : {ratio_hardous:.2%}")

Proportion d'astéroïdes potentiellement dangereux : 4.24%

In [9]:
# afficher les types de données des colonnes
print(df_clean.dtypes)

id                       object
name                     object
absolute_magnitude_h    float64
diameter_min_km         float64
diameter_max_km         float64
is_hazardous               bool
velocity_kph            float64
miss_distance_au        float64
miss_distance_km        float64
moid                    float64
eccentricity            float64
inclination             float64
dtype: object

In [10]:
import sqlite3

# Connexion à la base de données (elle sera créée si elle n'existe pas)
conn = sqlite3.connect('asteroids.db')

# Export du DataFrame vers la table 'asteroid'
# if_exists='replace' écrase la table si elle existe déjà, 'append' ajoute les données
df_clean.to_sql('asteroid', conn, if_exists='replace', index=False)

print("Base de données 'asteroids.db' créée et table 'asteroid' remplie avec succès.")

# Fermeture de la connexion
conn.close()

Base de données 'asteroids.db' créée et table 'asteroid' remplie avec succès.

In [11]:
# Exemple de requête pour vérifier les données dans la base SQLite
conn = sqlite3.connect('asteroids.db')
query = "SELECT * FROM asteroid LIMIT 5;"
result = pd.read_sql_query(query, conn)
result.head()

,id,name,absolute_magnitude_h,diameter_min_km,diameter_max_km,is_hazardous,velocity_kph,miss_distance_au,miss_distance_km,moid,eccentricity,inclination
0,2000433,433 Eros (A898 PA),10.38,22.312846,49.893041,0,20083.029075,0.314929,4.711273e+07,0.148353,0.222836,10.828467
1,2000719,719 Albert (A911 TB),15.59,2.025606,4.529393,0,12405.704359,1.708774,2.556290e+08,0.201318,0.546596,11.573111
2,2000887,887 Alinda (A918 AA),13.81,4.597852,10.281109,0,25545.505252,0.136779,2.046181e+07,0.079677,0.571170,9.400060
3,2001036,1036 Ganymed (A924 UB),9.18,38.775283,86.704169,0,22693.918951,1.956257,2.926518e+08,0.343339,0.533213,26.680736
4,2001221,1221 Amor (1932 EA1),17.37,0.892391,1.995446,0,38772.626612,0.183912,2.751287e+07,0.107969,0.434632,11.868823